.offcanvas-checkout {
  max-height: 100% !important;
  height: 295px !important;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.checkout-img {
  height: 240px;
  width: 240px;
}
